.career-outcomes-container {
    text-align: center;
    padding: 40px;
    background-color: #fff;
}

.outcome-stats {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.stat {
    text-align: center;
}

.stat h3 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.stat p {
    font-size: 16px;
    font-weight: bold;
}

.map-icon {
    background-image: url('../assets/eath1.png'); /* You need to provide the path to your map icon */
    background-size: contain;
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
}
