.study-in-london {
    padding: 20px;
    background-color: #f8f8f8;
  }
  
  .london-banner {
    position: relative;
    background-image: url('../assets/banner.png'); /* Make sure you have the correct image */
    background-size: cover;
    color: white;
    text-align: center;
    padding: 60px 20px;
  }
  
  .learn-more-button {
    background-color: #ffcc00;
    border: none;
    padding: 10px 20px;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .specialisations {
    margin-top: 40px;
  }
  
  .specialisations ul {
    list-style-type: none;
    padding: 0;
  }
  
  .specialisations ul li {
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .scroll-up-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fbb034; /* Matches the color scheme */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    display: none; /* Initially hidden */
    cursor: pointer;
    z-index: 1000;
  }
  
  .scroll-up-button.visible {
    display: inline-block; /* Show when visible */
  }
  